<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Update Sentiment</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/noui/nouislider.min.css" />

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <!--===============================================================================================-->
  </head>

  <body>
    <div class="container-contact100">
      <div class="wrap-contact100">
        <form class="frmConfig contact100-form validate-form">
          <span class="contact100-form-title">
            Update Sentiment
          </span>
          <div class="wrap-input100 validate-input bg1">
            <span class="label-input100">Birth Moon Nakshatra</span>
            <input class="input100" type="text" name="birth_moon_nakshatra" disabled />
          </div>
          <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
            <span class="label-input100">Health Prediction</span>
            <textarea class="input100" name="health_prediction" disabled></textarea>
          </div>
          <div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
            <span class="label-input100">Health Sentiment</span>
            <div>
              <select class="js-select2" name="health_sentiment">
                <option value="average">Average</option>
                <option value="negative">Negative</option>
                <option value="excellent">Excellent</option>
              </select>
              <div class="dropDownSelect2"></div>
            </div>
          </div>
          <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
            <span class="label-input100">Emotion Prediction</span>
            <textarea class="input100" name="emotion_prediction" disabled></textarea>
          </div>
          <div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
            <span class="label-input100">Emotion Sentiment</span>
            <div>
              <select class="js-select2" name="emotion_sentiment">
                <option value="average">Average</option>
                <option value="negative">Negative</option>
                <option value="excellent">Excellent</option>
              </select>
              <div class="dropDownSelect2"></div>
            </div>
          </div>
          <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
            <span class="label-input100">Profession Prediction</span>
            <textarea class="input100" name="profession_prediction" disabled></textarea>
          </div>
          <div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
            <span class="label-input100">Profession Sentiment</span>
            <div>
              <select class="js-select2" name="profession_sentiment">
                <option value="average">Average</option>
                <option value="negative">Negative</option>
                <option value="excellent">Excellent</option>
              </select>
              <div class="dropDownSelect2"></div>
            </div>
          </div>
          <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
            <span class="label-input100">Luck Prediction</span>
            <textarea class="input100" name="luck_prediction" disabled></textarea>
          </div>
          <div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
            <span class="label-input100">Luck Sentiment</span>
            <div>
              <select class="js-select2" name="luck_sentiment">
                <option value="average">Average</option>
                <option value="negative">Negative</option>
                <option value="excellent">Excellent</option>
              </select>
              <div class="dropDownSelect2"></div>
            </div>
          </div>
          <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
            <span class="label-input100">Personal Life Prediction</span>
            <textarea class="input100" name="personallife_prediction" disabled></textarea>
          </div>
          <div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
            <span class="label-input100">Personal Life Sentiment</span>
            <div>
              <select class="js-select2" name="personallife_sentiment">
                <option value="average">Average</option>
                <option value="negative">Negative</option>
                <option value="excellent">Excellent</option>
              </select>
              <div class="dropDownSelect2"></div>
            </div>
          </div>
          <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
            <span class="label-input100">Travel Prediction<</span>
            <textarea class="input100" name="travel_prediction" disabled></textarea>
          </div>
          <div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
            <span class="label-input100">Travel Sentiment</span>
            <div>
              <select class="js-select2" name="travel_sentiment">
                <option value="average">Average</option>
                <option value="negative">Negative</option>
                <option value="excellent">Excellent</option>
              </select>
              <div class="dropDownSelect2"></div>
            </div>
          </div>
          <div class="container-contact100-form-btn">
            <button
              type="button"
              class="contact100-form-btn"
              id="btnUpdate"
              onclick="nakshatra.updateSentiment(nakshatra_id)"
            >
              <span>
                Update Sentiment
                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/vendor/animsition/js/animsition.min.js"></script>

    <script src="/vendor/bootstrap/js/popper.js"></script>

    <!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/app/nakshatra.js"></script>
    <script src="/vendor/select2/select2.min.js"></script>

    <!--===============================================================================================-->
    <script>
      const nakshatra = new Nakshatra();
      let nakshatra_id = "<%= nakshatra_id %>";
      $(document).ready(function() {
        nakshatra.getDetail(nakshatra_id);
      });
    </script>
  </body>
</html>
